/* Global ***************************************************************/
html{
    margin: 0;
    padding: 0;
    --background-menu: #1B1F28; /*#2A343E;*/
    --background-main: #1F2024;
    --background-panel: #1B1F28;
    --background-panel-hover: #1E222B;
    --border-item: #FF7400;/*#242831;*/
    --background-article: #D4D4D4;
    --hover: #FF7400;
    --cat-bg: #7689FF;
    --cat-ft: #0CF3FF;
    --link-normal: #FF7400;
    --link-hover: #F906FF;
    --shadow: #000;
    --text-color: #d1d1d1;
    --text-desc-color: #969696;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-color: var(--background-main);
    color: var(--text-color);
}

.tr-content{
    width: 80%;
    margin: auto;
    background-color: var(--background-panel);
    box-shadow: 0px 10px 50px 10px var(--shadow);
}

.tr-row {
    display: flex;
}

.tr-col {
    flex: 50%;
}

.tr-link{
    text-decoration: none;
    color: var(--link-normal);
}

.tr-link:hover{
    color: var(--link-hover);
}

.tr-tag{
    padding: 5px 10px;
    background-color: var(--cat-bg);
    color: var(--cat-ft);
    border-radius: 2em;
}

.tr-dl-button{
    text-decoration: none;
    display: inline-block;
    background-color: var(--link-normal);
    color: #fff;
    font-size: 32px;
    padding: 10px 20px;
}

.tr-dl-button:hover{
    background-color: var(--link-hover);
}

.tr-hidden-separator{
    width: 100%;
    margin-top: 50px;
}

.tr-padding{
    padding: 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.tr-session-user{
    position: fixed;
    top: 100px;
    right: 50px;
    /*border: 1px solid red;*/
}

.tr-session-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.tr-session-menu{
    position: relative;
}

.tr-session-content{
    display: none;
    position: absolute;
}

.tr-session-content a{
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    color: #FFF;
    background-color: var(--link-normal);
}

.tr-session-content a:hover{
    /*color: var(--link-hover);*/
    background-color: var(--link-hover);
}

.tr-session-user:hover .tr-session-content{
    display: block;
}

.tr-scroll{
    width: 100%;
    display: block;
    height: 500px;
    overflow-y: scroll;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--link-normal) var(--background-panel);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--background-panel);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--link-normal);
    border-radius: 20px;
    /*border: 3px solid orange;*/
}

.tr-button{
    text-decoration: none;
    color: var(--link-normal);
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid var(--link-normal);
    margin-right: 5px;
    margin-bottom: 5px;
}

.tr-button:hover{
    background-color: var(--link-normal);
    color: #FFF;
    cursor: pointer;
}

ul.tr-breadcrumb {
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

/* Display list items side by side */
ul.tr-breadcrumb li {
    display: inline;
    font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.tr-breadcrumb li+li:before {
    padding: 8px;
    color: var(--text-desc-color);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.tr-breadcrumb li a {
    color: var(--link-normal);
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.tr-breadcrumb li a:hover {
    color: var(--link-hover);
}

input[type=text], input[type=password], textarea{
    border: 1px solid var(--link-normal);
    background: none;
    color: var(--link-normal);
    padding: 5px 10px;
}

.w100{
    width: 100%;
}
/* Global ***************************************************************/

/* Menu *****************************************************************/
.tr-menubar{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--background-menu);
    box-shadow: 0px 10px 20px 1px var(--shadow);
}

.tr-menu-center{
    display: table;
    margin: auto;
}

.tr-menu-item{
    text-decoration: none;
    display: inline-block;
    color: #d2d2d2;
    margin-right: 25px;
    margin-left: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
}

.tr-menu-item:hover{
    color: var(--hover);
}

.tr-menu-first{
    margin-left: 100px;
}
/* Menu *****************************************************************/

/* Index ****************************************************************/
.tr-front-banner{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 200px;
}

.tr-front-banner h1{
    width: 100%;
    text-align: center;

}

.tr-front-banner img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.tr-article-light{
    display: block;
    width: 80%;
    background-color: var(--background-panel);
    border-left: 1px solid var(--border-item);
    margin: 20px auto auto;
    padding: 10px;
}

.tr-article-light:hover{
    background-color: var(--background-panel-hover);
}

.tr-article-light-title{
    font-weight: bold;
    margin-bottom: 10px;
}

.tr-article-category{
    display: block;
    width: 100%;
    text-align: center;
    color: var(--cat-ft);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 22px;
}

.tr-article-thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-item);
}

.tr-user-block{
    width: 100%;
    margin: 50px auto auto;
    border-left: 1px solid var(--hover);
}

.tr-user-image{
    display: flex;
    justify-content: center;
}

.tr-user-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.tr-user-name{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.tr-user-desc{
    width: 50%;
    margin: 20px auto auto;
    font-size: 12px;
    text-align: center;
    color: var(--text-desc-color);
}
/* Index ****************************************************************/
/* Admin ****************************************************************/
.tr-text-highlight{
    color: var(--link-normal);
}



/* Admin ****************************************************************/