<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Amadeus - Project</title>
    <th:block th:include="fragments::meta"></th:block>
</head>
<body>
    <div th:replace="fragments::menu"></div>
    <div class="tr-content">
        <ul class="tr-breadcrumb">
            <li><a href="home">Home</a></li>
            <li><a href="projects">Projects</a></li>
        </ul>
        <h1 class="tr-h1">Create project</h1>
        <form action="createproject" method="post">
            <table class="tr-table-form">
                <tr>
                    <td>Name</td>
                    <td><input class="tr-input-form" type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea class="tr-input-form-area" name="description"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="tr-input-button" type="submit" value="Create">
                    </td>
                </tr>
            </table>
        </form>
    </div>


</body>
</html>