<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <title>Amadeus - Folders</title>
  <th:block th:include="fragments::meta"></th:block>
</head>
<body>
<div th:replace="fragments::menu"></div>

  <div class="tr-content">
    <h1>Documents</h1>
    <span class="tr-button" onclick="refreshFolder(1);">Refresh</span><br>
    <div id="folders"></div>
  </div>


<script>
  function refreshFolder(id){
    $.ajax({
      url: "folder",
      method: "GET",
      data: {
        id: id
      }
    }).done(function(response){
      $("#folders").html(response);
    });
  }

  $(function(){
    refreshFolder(1);
  });
</script>
</body>
</html>