<head th:fragment="meta">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/default.css}" />
  <link rel="stylesheet" th:href="@{/css/simditor.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" th:src="@{/js/module.js}"></script>
  <script type="text/javascript" th:src="@{/js/hotkeys.js}"></script>
  <script type="text/javascript" th:src="@{/js/uploader.js}"></script>
  <script type="text/javascript" th:src="@{/js/simditor.js}"></script>
  <script type="text/javascript" th:src="@{/js/bbcode.js}"></script>
</head>
<section th:fragment="menu">
  <div class="tr-menubar">
      <a class="tr-menu-logo" href="home"><img th:src="@{/img/favicon.png}" width="30px" height="30px" style="vertical-align: middle;padding-bottom: 3px;"></a>
      <a class="tr-menu-item" href="folders">Documents</a>
      <a class="tr-menu-item" href="projects">Projects</a>
      <a class="tr-menu-item" href="disconnect"><span th:text="${session.user.name}"></span></a>
  </div>
</section>
<div th:fragment="folder-content" style="width: 100%">
  <table style="width: 100%">
    <tr>
      <td><!-- icon --></td>
      <td>Name</td>
      <td>Path</td>
    </tr>
    <tr th:if="${folders != null}" th:each="fo:${folders}">

    </tr>
    <tr th:if="${documents != null}" th:each="doc:${documents}">
      <td>DOC</td>
      <td><a th:href="@{${'document?id=' + doc.id}}"><span th:text="${doc.name}"></span></a></td>
      <td th:text="${doc.path}"></td>
    </tr>
  </table>
</div>