<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <title>Amadeus - Home</title>
    <th:block th:include="fragments::meta"></th:block>
</head>
<body>
    <div th:replace="fragments::menu"></div>
    <div class="tr-content">
        <h1>Amadeus</h1>
        <div class="tr-row">
            <div class="tr-col-3">
                <div class="tr-home-card">
                    Col1
                </div>
            </div>
            <div class="tr-col-3">
                <div class="tr-home-card">
                    Col2
                </div>
            </div>
            <div class="tr-col-3">
                <div class="tr-home-card">
                    Col3
                </div>
            </div>
        </div>
    </div>


</body>
</html>